* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/spackle.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

a {
    color: silver;
}

p {
    margin-left: 40px;
}

header {
    background-color: teal;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

nav {
    background-color: whitesmoke;
    color: silver;
    border-bottom: 2px solid silver;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #666;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
    border-top: 6px solid teal;
}

.merry {
    font-family: 'Merriweather', serif;
}

@media only screen and (min-width: 768px) {

header {
    width: 250px;
    float: left;
    margin-left: 40px;
}
nav {
    text-align: right;
    width: 100%;
    padding: 26px;
}

}
@media only screen and (min-width: 980px) {

}